.card {
	display:inline-block;

}

html {
	scroll-behavior: smooth;
}

#landing {
	background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover; /*cover the area of the element*/
	background-repeat: no-repeat;
	background-position: center;
}

#gmap_canvas {
	height: 80vh;
	width: 100%;
}

.fa-icons {
	font-size: 2rem;
}

#bgshadow {
	border: 1px solid black; box-shadow: 1px 5px 5px #999
;
}